<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
  <div class="w-100">
    <h3 class=" head mb-5">Education Qualification</h3>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="demo mb-0">PANIMALAR ENGINEERING COLLEGE, CHENNAI.</h3>
        <div class="subheading mb-3">Bachelor of Engineering</div>
        <div><h6 class="q">Electronics and Communication Engineering</h6></div>
        <p class="percent"><b>CGPA: 6.76</b></p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary"><b>August, 2014 - May, 2018</b></span>
      </div>
    </div>
<hr>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
      <div class="resume-content">
        <h3 class="demo mb-0">P.A.K Palaniswamy Higher Secondary School, Chennai.</h3>
        <div class="subheading mb-3">Higher Secondary School Certificate</div>
        <p class="percent"><b>PERCENTAGE: 75%</b></p>
      </div>
      <div class="resume-date text-md-right">
        <span class="month text-primary"><b>July, 2012 - March, 2014</b></span>
      </div>
    </div>
<hr>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
      <div class="resume-content">
        <h3 class="demo mb-0">Model Matriculation Higher Secondary School, Chennai.</h3>
        <div class="subheading mb-3">Secondary School Certificate</div>
        <p class="percent"><b>PERCENTAGE: 85%</b></p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary"><b>Apirl, 2012</b></span>
      </div>
    </div>

  </div>
</section>
