<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
      <h1 class="title mb-0">Naveen Kumar
        <span class="text-primary"></span>
      </h1>
      <div class="subheading mb-5"><i>10 G Block, Tondiarpet Police Quarters, Solaiyappan Street, Old Washermenpet,Chennai-600021.</i>
       <div class="address">
         <!-- <a>Email ID : </a>
        <a class="s" href="naveenkumar75507@gmail.com">naveenkumar75507@gmail.com</a> -->
        <br>
        <!-- <a>Mobile No : </a>
        <a id="s1" >+91-7401688112</a> -->
        </div>
      </div>
      <p class="lead mb-5"><b>I'm a Quick Learner, Innovative and focused. In-depth knowledge of Frontend & Backend pages like HTML5, CSS3, JavaScript, Angular, C++ & NodeJS with the passion to learn and grow.</b></p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/naveen-kumar-66802117a" target="blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/naveenkumar2405" target="blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://twitter.com/naveenkumrz" target="blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://medium.com/@naveenkumar75507" target="blank">
          <i class="fab fa-medium"></i>
        </a>
        <!-- <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a> -->
      </div>
    </div>
  </section>

