<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="projects">
  <div class="w-100">
    <h2 class="head mb-5">Projects</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="demo mb-0">JAVASCRIPT GAME</h3>
        <div class="subheading mb-3"><a href="https://github.com/naveenkumar2405/Game/tree/master/games"
            target="blank">TOWER OF HANOI</a></div>
        <p><b>
            <h6 id="content">Tower of Hanoi is a mathematical puzzle where we have three rods and three disks.
              simple rules:
              <ol>
                <br>
                <li>Only one disk can be moved at a time.</li><br>
                <li>Each move consists of taking the upper disk from one of the stacks and placing it on top of another
                  stack i.e. a disk can only be moved if it is the uppermost disk on a stack.</li>
                <br>
                <li>No disk can be placed on top of a smaller disk.</li>
              </ol>
            </h6>
          </b></p>
      </div>
      <div class="resume-date text-md-right">
      </div>
    </div>
    <hr>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="demo mb-0">ANGULAR</h3>
        <div class="subheading mb-3"><a href="https://github.com/naveenkumar2405/Angular-Framework/tree/master/bookT"
            target="blank">BOOK LIBRARY MANAGEMENT</a></div>
        <p><b>
            <h6 id="content">Angular is a JavaScript framework which makes you able to create reactive Single Page
              Applications(SPAs). This is a leading front-end development framework which is regularly
              updated by Angular team of Google.
              <ul>
                <br>
                <li>Linking all the components through Router Modules and Importing ReactiveForm & HttpClient Modules
                  for
                  Users and Admin Pages.</li><br>
                <li>Connecting through MockAPI & Postman in Prototype model for Listing, Creating and Modify
                  inside the Admin Page.</li><br>
                <li>Dynamically Load HTML Partials for Content Pages</li>
              </ul>
            </h6>
          </b></p>

      </div>
    </div>
    <hr>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">

        <h3 class="demo mb-0">Wearable Sensors for Analyzing personal exposure to air pollution</h3>
        <div class="subheading mb-3"></div>
        <h6><b>OBJECTIVES: -</b></h6>
        <p><b>
            <h6 id="content">To analyzing exposure of air pollution and also can pass information through IOT based technology.</h6>
          </b></p>
        <h6><b>PLATFORM: -</b></h6>
        <p><b>
            <h6 id="content">NodeMCU ESP-12 connected with DHT Sensors and also ThingSpeak Cloud Analytics.</h6>
          </b></p>
      </div>

    </div>


  </div>

</section>
