<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
  <div class="w-100">
    <h2 class="title mb-5">Skills</h2>

    <div class="subheading mb-3">Programming Languages &amp; Tools</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <i class="fab fa-html5"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-css3-alt"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-js-square"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-angular"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-react"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-node-js"></i>
      </li>
      <!-- <li class="list-inline-item">
        <i class="fab fa-sass"></i>
      </li> -->
      <!-- <li class="list-inline-item">
        <i class="fab fa-npm"></i>
      </li>
      <li class="list-inline-item">
        <i class="fa fa-database"></i>
      </li> -->
    </ul>
<br>
    <div class="subheading mb-3">
      ZEN CLASS, IITM Research Park.
    </div>
    <!-- <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i>
        <b>Frontend Frameworks</b>
      <li>
        <i>HTML</i>,
        <i>CSS</i>,
        <i>JavaScript</i>,
        AngularJS &amp; ReactJS
      </li>
      <li>
        <i class="fa-li fa fa-check"></i>
        <b>Backend Frameworks</b>
      <li>
        <i>C++</i>,
        <i>NodeJS</i>
      </li>
      <li>
        <i class="fa-li fa fa-check"></i>
        <strong>Database</strong>
      <li>
        <i>MongoDB</i>,
        <i>AWS</i>,
        <i>Heroku</i> &amp;
        <i>Git</i>
      </li>
      <li>
        <i class="fa-li fa fa-check"></i>
        <strong>Scalability</strong>
      <li>
        <i>Postman</i>,
        <i>Robot 3T</i>
      </li>
    </ul> -->


    <div class="row">

      <div class="col-12 mb-4 position-relative">
        <h6 class="sub"><i>FULL STACK DEVELOPMENT TRAINING</i></h6>
      </div>
      <div class="nine columns main-col">

        <div class="row">

          <div class="col-12 mb-4 position-relative">

            <h3 class="week">Week 1: HTML5,CSS3,BOOTSTRAP4</h3>
            <p class="info"> In First week , they teach about HTML , CSS , Bootstrap and How to Create Webpage
              .
              Then how to convert the webpage into responsive using the Bootstrap library.</p>


          </div>

        </div>

        <div class="row">

          <div class="col-12 mb-4 position-relative">

            <h3 class="week">Week 2: JavaScript and JQuery</h3>
            <p class="info">In Second week , they teach about JavaScript and jQuery . In the use of JavaScript
              we
              learnt about How to create dynamic Webpage. Then learnt about JavaScript library jQuery.jQuery
              takes
              a lot of common tasks that require many lines of JavaScript code to accomplish, and wraps them
              into
              methods that we can call with a single line of code.</p>

          </div>

        </div>

        <div class="row">

          <div class="col-12 mb-4 position-relative">

            <h3 class="week">Week 3: Angular</h3>
            <p class="info">In Third week , they teach about Angular Framework . It's uses , it's advantage
              and
              with the use of this How can change the Application into separate Components and Modules . Then
              some
              more information about the Single Page Application and How to create . These information we
              learnt
              in that third week.</p>

          </div>

        </div>
        <div class="row">

          <div class="col-12 mb-4 position-relative">

            <h3 class="week">Week 4: ReactJS</h3>
            <p class="info">In Fourth Week , they teach about Reactjs.It's a JavaScript Library.Here we learnt
              about Virtual Dom.Then we learnt it's Uses , it's Benefits , How it differs from framework.</p>

          </div>

        </div>
        <div class="row">

          <div class="col-12 mb-4 position-relative">

            <h3 class="week">Week 5: Data Structures and Algorithms</h3>
            <p class="info">In Fifth Week , we learnt about Datastructures and Algorithms . Here we learnt
              various
              concepts like Array,List,Tree.. and it's importants learnt in that week..</p>

          </div>

        </div>
        <div class="row">

          <div class="col-12 mb-4 position-relative">

            <h3 class="week">Week 6: NodeJS and MongoDB</h3>
            <p class="info">In Sixth Week , Nodejs and mongodb teach us. In backend they teach us about Nodejs
              importance and about ExpressJS(framework).Then they teach us how to connect Nodejs with Mongodb
              and
              what's the difference between SQL and Nosql . These important topics we have learnt in that
              week.
            </p>

          </div>

        </div>
        <div class="row">

          <div class="col-12 mb-4 position-relative">

            <h3 class="week">Week 7: Architecture and Scalability</h3>
            <p class="info">In Seventh Week , they teach us about Microservices . Then learnt about designing
              web
              architectures,building scalability,load balancers.. learnt in that week.</p>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>
