.fa {
  color: rgb(41, 39, 2);
}

.fab {
  color: rgba(71, 83, 160, 0.66);
}

.fa-li{
  color: rgb(8, 10, 7);
}

.subheading{
  font-size: 30px;
  background: -webkit-linear-gradient(rgb(2, 45, 83), rgb(116, 3, 191));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sub{
  font-size: 20px;
  background: -webkit-linear-gradient(rgb(45, 141, 225), rgb(21, 13, 27));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}

.title{
  font-size: 40px;
  background: -webkit-linear-gradient(rgb(34, 3, 113), rgb(12, 2, 2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}


.week{
  font-size: 20px;
  padding-left: 16px;
  font-style: italic;
  background: -webkit-linear-gradient(rgb(240, 81, 108), rgb(23, 29, 26));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info{
  padding-left: 24px;
  font-style: italic;
  font-size: 17px;
  background: -webkit-linear-gradient(rgb(22, 21, 21), rgb(4, 4, 86));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

