<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
  <div class="w-100">
    <h2 class="head mb-5">Interests</h2>
    <p id="c">Apart from being a web developer, I enjoy most of my time being outdoors. During the summer holidays, I plan for Long Trip in Bike & also Trekking.</p>
    <p id="c" class="mb-0">I like to play Table-Tennis, surfing on Internet & watch movies. I spend a large amount of my free time exploring the latest technology advanced in the frontend web development world.</p>
  </div>
</section>
