<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
  <div class="w-100">
    <h2 class="heading mb-5">Awards &amp; Certifications</h2>

    <ol class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        <b>Cambridge English Entry Level Certificatein ESOL International(Entry 2)(Business)*</b>
      <li>Achieved Council of Europe Level A2</li>
      <br>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        <b>One Day Hands-On Workshop on Ruby on Rails, VIT University, Chennai.</b>
      <li>Organized by ACM VITCC Student</li>
      <br>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i><b>
          NETWORKING</b> - Microsoft Research Community Certificate.</li>
      <br>
      <!-- <li>
        <i class="fa-li fa fa-trophy text-warning"></i><b>
          Core Java & J2EE</b> - FITA Academy, Chennai.</li>
      <br> -->
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i><b>
          Mandarin Chinese Language</b> - Level 1 Basic Conversation Certificate.</li>
    </ol>
  </div>
</section>
